<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang quản lý thiết bị</title>
    <th:block th:replace="base :: styles"> </th:block>
</head>

<body>
    <div th:replace="base :: header"></div>
    <div class="container mt-4">
        <!-- Nút thêm lịch bảo trì -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">Danh sách lịch bảo trì</h4>
            <a th:href="@{'/maintenance-add?deviceId=' + ${device.id}}" class="btn btn-success">
                <i class="bi bi-plus-circle me-1">Thêm lịch bảo trì</i> 
            </a>
        </div>

        <!-- Danh sách bảo trì -->
        <div class="list-group">
            <div class="list-group-item list-group-item-action"
                 th:each="p : ${maintenances}">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1" th:text="${p.deviceId.name}">Tên thiết bị</h6>
                    <small th:text="${p.date}">Ngày</small>
                </div>
                <p class="mb-1">
                    <span th:text="'Tần suất: ' + ${p.frequencyId.frequency}">Tần suất</span> |
                    <span th:text="'Loại: ' + ${p.typeId.type}">Loại bảo trì</span>
                </p>
            </div>
        </div>
        <!-- Nếu không có dữ liệu -->
        <div class="list-group-item text-center text-muted" th:if="${#lists.isEmpty(maintenances)}">
            Chưa có lịch bảo trì
        </div>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>