<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm Thiết Bị</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <div class="container">
        <h2>Thêm Thiết Bị Mới</h2>

        <form th:action="@{/equipment/add}" method="post" th:object="${equipment}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Tên thiết bị:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required />
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Mã thiết bị:</label>
                <input id="code" class="form-control" th:field="*{code}" required></input>
            </div>

            <div class="mb-3">
                <label for="typeId" class="form-label">Loại thiết bị:</label>
                <select class="form-select" id="typeId" th:field="*{typeId.id}">
                    <option th:each="t : ${types}"
                            th:value="${t.id}"
                            th:text="${t.name}">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label for="statusId" class="form-label">Trạng thái thiết bị:</label>
                <select class="form-select" id="statusId" th:field="*{statusId.id}">
                    <option th:each="t : ${status}"
                            th:value="${t.id}"
                            th:text="${t.name}">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label for="avatar" class="form-label">Ảnh:</label>
                <input type="file" class="form-control" accept="image/*" id="avatar" th:field="*{avatar}" placeholder="URL ảnh" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </form>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>
