<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang quản lý thiết bị</title>
    <th:block th:replace="base :: styles"> </th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar chỉ hiện trên màn hình md trở lên -->
            <div class="col-md-3 col-lg-2 d-none d-md-block bg-light border-end vh-100 sticky-top pt-3">
                <div class="d-flex flex-column px-3 gap-3">
                    <a th:href="@{/device}" class="btn btn-outline-success text-start">Thêm Thiết Bị</a>
                    <a th:href="@{/categories}" class="btn btn-outline-success text-start">Quản lý loại thiết bị</a>
                    <a th:href="@{/maintenances}" class="btn btn-outline-success text-start">Quản lý lịch bảo trì</a>
                    <a th:href="@{/issues}" class="btn btn-outline-success text-start">Quản lý sự cố</a>
                    <a th:href="@{/repairs}" class="btn btn-outline-success text-start">Lịch sử sửa chữa</a>
                    <a th:href="@{/accounts}" class="btn btn-outline-success text-start">Quản lý người dùng</a>
                    <a th:href="@{/bases}" class="btn btn-outline-success text-start">Quản lý cơ sở</a>
                </div>
            </div>


            <div class="col-md-9 col-lg-10 pt-3">
                <!-- Thông tin trang hiện tại -->
                <div class="d-flex justify-content-end align-items-center mb-3 px-3">
                    <span class="badge bg-primary fs-6">
                        Trang hiện tại: <span th:text="${currentPage}"></span>
                    </span>
                </div>

                <ul class="list-group mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        th:each="p : ${devices}">

                        <!-- Thông tin thiết bị -->
                        <img th:src="@{${p.image}}" alt="Hình ảnh thiết bị" style="max-width: 50px; max-height: 50px;" />

                        <div class="flex-grow-1 ms-3 text-start">
                            <span th:text="${p.name}"></span>
                        </div>
                        <!-- Các nút chức năng -->
                        <div class="btn-group" role="group">
                            <!-- Xem -->
                            <a th:href="@{'/device-detail/' + ${p.id}}"
                               class="btn btn-sm btn-outline-primary">
                                Xem 
                            </a>

                            <!-- Sửa -->
                            <a th:href="@{'/device?id=' + ${p.id}}"
                               class="btn btn-sm btn-outline-secondary">
                                Sửa
                            </a>

                            <!-- Xóa -->
                            <a href="#" class="btn btn-sm btn-outline-danger"
                               th:onclick="'deleteDevice(\''+@{/api/devices/}+'\','+${p.id}+')'">
                                Xóa
                            </a>
                        </div>
                    </li>
                </ul>

                <!-- Hiển thị phân trang nếu tổng số trang >= 2 -->
                <div th:if="${totalPages >= 2}" class="d-flex justify-content-end mt-3 me-3">
                    <!-- Trang trước -->
                    <a th:if="${currentPage > 1}"
                       th:href="@{/(page=${currentPage - 1},
                       kw=${kw},
                       baseId=${baseId},
                       cateId=${cateId})}"
                       class="btn btn-outline-primary me-2">Trang trước</a>

                    <!-- Danh sách số trang -->\
                    <div class="btn-group me-2" role="group" aria-label="Pagination">
                        <a th:each="i : ${#numbers.sequence(1, totalPages)}"
                           th:href="@{/(page=${i},
                           kw=${kw},
                           baseId=${baseId},
                           cateId=${cateId})}"
                           th:text="${i}"
                           class="btn"
                           th:classappend="${i == currentPage} ? 'btn-primary' : 'btn-outline-primary'">
                        </a>
                    </div>

                    <!-- Trang sau -->
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{/(page=${currentPage + 1},
                       kw=${kw},
                       baseId=${baseId},
                       cateId=${cateId})}"
                       class="btn btn-outline-primary">Trang sau</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>

