<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang quản lý lịch bảo trì</title>
    <th:block th:replace="base :: styles"> </th:block>
</head>

<body>
    <div th:replace="base :: header"></div>
    <div class="container">
        <a th:href="@{/maintenance}" class="btn btn-success">
            Thêm lịch bảo trì
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item" th:each="p : ${maintenances}" >
                <div class="nav-link">
                    <span th:text="${p.deviceId.name + ' - ' + p.frequencyId.frequency + ' - ' + p.date + ' - ' + p.typeId.type}"></span>
                    <a th:href="@{'/maintenance/' + ${p.id}}"
                       class="btn btn-sm btn-outline-secondary ms-2">
                        Sửa
                    </a>
                </div>

            </li>
        </ul>
    </div>
    <div th:replace="base :: footer"></div>
</body>
</html>